In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("dados/DadosBrutos_Palmeiras_x_Bragantino.csv")
df.head(20)

,TEMPO_JOGO,FRAME,ID_JOGADOR,NOME_JOGADOR,POSICAO_JOGADOR,TIME_JOGADOR,OBJETO_OBSERVADO,X,Y,Z,VELOCIDADE,TIME_POSSE,ID_TIME_POSSE_BOLA,ID_JOGADO' R_ATACANDO,BOLA_EM_JOGO,ACELERACAO,VISIVEL
0,1,0,NaN,NaN,NaN,NaN,bola,59.12,38.29,0.0,41.19,PAL,6696.0,9973.0,1.0,NaN,True
1,1,0,100006.0,Eduardo Sasha,Atacante,RED,jogador,59.32,50.49,NaN,16.81,NaN,NaN,NaN,NaN,0.54,True
2,1,0,100001.0,Natan,Zagueiro Esquerdo,RED,jogador,69.79,64.66,NaN,8.71,NaN,NaN,NaN,NaN,0.00,False
3,1,0,100017.0,Dudu,Meio-Campo Ofensivo Esquerdo,PAL,jogador,58.74,6.05,NaN,7.10,NaN,NaN,NaN,NaN,-0.06,False
4,1,0,100005.0,Bruno,Ponta Esquerda,RED,jogador,59.65,62.01,NaN,18.91,NaN,NaN,NaN,NaN,0.80,True
5,1,0,100021.0,Artur,Meio-Campo Ofensivo Direito,PAL,jogador,57.60,72.19,NaN,9.43,NaN,NaN,NaN,NaN,0.44,True
6,1,0,100008.0,Juninho Capixaba,Lateral Esquerdo,RED,jogador,64.16,70.90,NaN,9.05,NaN,NaN,NaN,NaN,-0.04,False
7,1,0,100019.0,Mayke,Lateral-Direito,PAL,jogador,43.15,58.00,NaN,5.51,NaN,NaN,NaN,NaN,-0.44,False
8,1,0,100002.0,Ramires,Meio-Campo Central Esquerdo,RED,jogador,66.75,48.04,NaN,11.36,NaN,NaN,NaN,NaN,0.42,True
9,1,0,100020.0,Luan,Zagueiro Direito,PAL,jogador,35.93,43.77,NaN,8.79,NaN,NaN,NaN,NaN,-0.15,False
10,1,0,100009.0,Jose Hurtado,Lateral-Direito,RED,jogador,78.77,16.56,NaN,6.84,NaN,NaN,NaN,NaN,0.71,True
11,1,0,100026.0,Fabinho,Volante Direito,PAL,jogador,48.79,41.94,NaN,5.49,NaN,NaN,NaN,NaN,0.23,True
12,1,0,100010.0,Matheus Fernandes,Volante,RED,jogador,70.02,39.21,NaN,11.80,NaN,NaN,NaN,NaN,0.51,True
13,1,0,100024.0,Raphael Veiga,Meio-Campo Ofensivo,PAL,jogador,59.81,38.95,NaN,13.69,NaN,NaN,NaN,NaN,0.39,True
14,1,0,100018.0,Rony,Atacante,PAL,jogador,62.80,23.53,NaN,8.20,NaN,NaN,NaN,NaN,1.67,False
15,1,0,100004.0,Helinho,Ponta Direita,RED,jogador,60.43,16.69,NaN,3.83,NaN,NaN,NaN,NaN,-0.03,False
16,1,0,100007.0,Eduardo Santos,Zagueiro Direito,RED,jogador,74.54,37.21,NaN,11.09,NaN,NaN,NaN,NaN,-0.84,False
17,1,0,100000.0,Cleiton Schwengber,Goleiro,RED,jogador,109.24,41.19,NaN,3.31,NaN,NaN,NaN,NaN,0.00,False
18,1,0,100016.0,Vanderlan,Lateral Esquerdo,PAL,jogador,39.88,13.42,NaN,9.68,NaN,NaN,NaN,NaN,0.26,True
19,1,0,100023.0,Weverton,Goleiro,PAL,jogador,10.45,40.34,NaN,7.45,NaN,NaN,NaN,NaN,-0.18,False

In [162]:
# OBSERVAR SOMENTE A BOLA

filtro_bola = df["OBJETO_OBSERVADO"] == "bola"
df_bola = df[filtro_bola]
df_bola

,TEMPO_JOGO,FRAME,ID_JOGADOR,NOME_JOGADOR,POSICAO_JOGADOR,TIME_JOGADOR,OBJETO_OBSERVADO,X,Y,Z,VELOCIDADE,TIME_POSSE,ID_TIME_POSSE_BOLA,ID_JOGADOR_ATACANDO,BOLA_EM_JOGO,ACELERACAO,VISIVEL
0,1,0,NaN,NaN,NaN,NaN,bola,59.12,38.29,0.0,41.19,PAL,6696.0,9973.0,1.0,NaN,True
23,1,1,NaN,NaN,NaN,NaN,bola,59.31,39.28,0.0,41.68,PAL,6696.0,9973.0,1.0,NaN,True
46,1,2,NaN,NaN,NaN,NaN,bola,57.81,39.13,0.0,40.98,PAL,6696.0,9973.0,1.0,NaN,True
69,1,3,NaN,NaN,NaN,NaN,bola,57.02,39.45,0.0,40.77,PAL,6696.0,9973.0,1.0,NaN,True
92,1,4,NaN,NaN,NaN,NaN,bola,57.91,40.94,0.0,41.77,PAL,6696.0,9973.0,1.0,NaN,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3373571,2,76213,NaN,NaN,NaN,NaN,bola,67.96,36.98,0.0,0.00,PAL,6696.0,9976.0,1.0,NaN,False
3373594,2,76214,NaN,NaN,NaN,NaN,bola,66.96,36.44,0.0,0.00,PAL,6696.0,9976.0,1.0,NaN,False
3373617,2,76215,NaN,NaN,NaN,NaN,bola,66.95,36.43,0.0,0.00,PAL,6696.0,9976.0,1.0,NaN,False
3373640,2,76216,NaN,NaN,NaN,NaN,bola,66.53,36.20,0.0,0.00,PAL,6696.0,9976.0,1.0,NaN,False
3373663,2,76217,NaN,NaN,NaN,NaN,bola,66.85,36.37,0.0,0.00,PAL,6696.0,9976.0,1.0,NaN,False

In [163]:
# TIRAR A BOLA PARADA

filtro_movimento = df["VELOCIDADE"] > 1
df_bola = df_bola[filtro_movimento]
df_bola

/var/folders/kv/h_391lbd0jg2pq9mzs9wrjs00000gn/T/ipykernel_16568/2163906067.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_bola = df_bola[filtro_movimento]

,TEMPO_JOGO,FRAME,ID_JOGADOR,NOME_JOGADOR,POSICAO_JOGADOR,TIME_JOGADOR,OBJETO_OBSERVADO,X,Y,Z,VELOCIDADE,TIME_POSSE,ID_TIME_POSSE_BOLA,ID_JOGADOR_ATACANDO,BOLA_EM_JOGO,ACELERACAO,VISIVEL
0,1,0,NaN,NaN,NaN,NaN,bola,59.12,38.29,0.0,41.19,PAL,6696.0,9973.0,1.0,NaN,True
23,1,1,NaN,NaN,NaN,NaN,bola,59.31,39.28,0.0,41.68,PAL,6696.0,9973.0,1.0,NaN,True
46,1,2,NaN,NaN,NaN,NaN,bola,57.81,39.13,0.0,40.98,PAL,6696.0,9973.0,1.0,NaN,True
69,1,3,NaN,NaN,NaN,NaN,bola,57.02,39.45,0.0,40.77,PAL,6696.0,9973.0,1.0,NaN,True
92,1,4,NaN,NaN,NaN,NaN,bola,57.91,40.94,0.0,41.77,PAL,6696.0,9973.0,1.0,NaN,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3371777,2,76135,NaN,NaN,NaN,NaN,bola,66.45,36.16,0.0,2.41,PAL,6696.0,9976.0,1.0,NaN,True
3371800,2,76136,NaN,NaN,NaN,NaN,bola,68.16,37.09,0.0,2.10,PAL,6696.0,9976.0,1.0,NaN,True
3371823,2,76137,NaN,NaN,NaN,NaN,bola,66.36,36.11,0.0,1.71,PAL,6696.0,9976.0,1.0,NaN,True
3371846,2,76138,NaN,NaN,NaN,NaN,bola,67.94,36.97,0.0,1.43,PAL,6696.0,9976.0,1.0,NaN,True
3371869,2,76139,NaN,NaN,NaN,NaN,bola,66.14,35.99,0.0,1.08,PAL,6696.0,9976.0,1.0,NaN,True

CRUZAMENTOS DO PALMEIRAS

In [164]:
filtro_pal = df_bola["TIME_POSSE"] == "PAL"
df_bola = df_bola[filtro_pal]
df_bola

,TEMPO_JOGO,FRAME,ID_JOGADOR,NOME_JOGADOR,POSICAO_JOGADOR,TIME_JOGADOR,OBJETO_OBSERVADO,X,Y,Z,VELOCIDADE,TIME_POSSE,ID_TIME_POSSE_BOLA,ID_JOGADOR_ATACANDO,BOLA_EM_JOGO,ACELERACAO,VISIVEL
0,1,0,NaN,NaN,NaN,NaN,bola,59.12,38.29,0.0,41.19,PAL,6696.0,9973.0,1.0,NaN,True
23,1,1,NaN,NaN,NaN,NaN,bola,59.31,39.28,0.0,41.68,PAL,6696.0,9973.0,1.0,NaN,True
46,1,2,NaN,NaN,NaN,NaN,bola,57.81,39.13,0.0,40.98,PAL,6696.0,9973.0,1.0,NaN,True
69,1,3,NaN,NaN,NaN,NaN,bola,57.02,39.45,0.0,40.77,PAL,6696.0,9973.0,1.0,NaN,True
92,1,4,NaN,NaN,NaN,NaN,bola,57.91,40.94,0.0,41.77,PAL,6696.0,9973.0,1.0,NaN,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3371777,2,76135,NaN,NaN,NaN,NaN,bola,66.45,36.16,0.0,2.41,PAL,6696.0,9976.0,1.0,NaN,True
3371800,2,76136,NaN,NaN,NaN,NaN,bola,68.16,37.09,0.0,2.10,PAL,6696.0,9976.0,1.0,NaN,True
3371823,2,76137,NaN,NaN,NaN,NaN,bola,66.36,36.11,0.0,1.71,PAL,6696.0,9976.0,1.0,NaN,True
3371846,2,76138,NaN,NaN,NaN,NaN,bola,67.94,36.97,0.0,1.43,PAL,6696.0,9976.0,1.0,NaN,True
3371869,2,76139,NaN,NaN,NaN,NaN,bola,66.14,35.99,0.0,1.08,PAL,6696.0,9976.0,1.0,NaN,True

In [165]:
filtro_bola_em_jogo = df["BOLA_EM_JOGO"] == 1
df_bola = df_bola[filtro_bola_em_jogo]

/var/folders/kv/h_391lbd0jg2pq9mzs9wrjs00000gn/T/ipykernel_16568/754449624.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_bola = df_bola[filtro_bola_em_jogo]

In [166]:
# VERIFICAR SE A BOLA ESTA NA AREA PROPICIA PARA SER CRUZAMENTO

# filtro_cruz = df_bola["X"] > 90
# df_bola = df_bola[filtro_cruz]
# df_bola

In [167]:
# VERIFICAR SE A BOLA ESTA NA AREA INIMIGA NO PRIMEIRO TEMPO

x = 104.5
y1 = 33
y2 = 51

filtro_1_tempo = df_bola["TEMPO_JOGO"] == 1
df_bola = df_bola[filtro_1_tempo]

df_bola["DENTRO_AREA_DIREITA"] = 0

area_direita = (df_bola["X"] > x) & (df_bola["Y"] > y1) & (df_bola["Y"] < y2)
df_bola.loc[area_direita, "DENTRO_AREA_DIREITA"] = 1
df_bola = df_bola.reset_index()
df_bola

,index,TEMPO_JOGO,FRAME,ID_JOGADOR,NOME_JOGADOR,POSICAO_JOGADOR,TIME_JOGADOR,OBJETO_OBSERVADO,X,Y,Z,VELOCIDADE,TIME_POSSE,ID_TIME_POSSE_BOLA,ID_JOGADOR_ATACANDO,BOLA_EM_JOGO,ACELERACAO,VISIVEL,DENTRO_AREA_DIREITA
0,0,1,0,NaN,NaN,NaN,NaN,bola,59.12,38.29,0.0,41.19,PAL,6696.0,9973.0,1.0,NaN,True,0
1,23,1,1,NaN,NaN,NaN,NaN,bola,59.31,39.28,0.0,41.68,PAL,6696.0,9973.0,1.0,NaN,True,0
2,46,1,2,NaN,NaN,NaN,NaN,bola,57.81,39.13,0.0,40.98,PAL,6696.0,9973.0,1.0,NaN,True,0
3,69,1,3,NaN,NaN,NaN,NaN,bola,57.02,39.45,0.0,40.77,PAL,6696.0,9973.0,1.0,NaN,True,0
4,92,1,4,NaN,NaN,NaN,NaN,bola,57.91,40.94,0.0,41.77,PAL,6696.0,9973.0,1.0,NaN,True,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23756,1618441,1,70367,NaN,NaN,NaN,NaN,bola,68.33,38.30,0.0,41.46,PAL,6696.0,9955.0,1.0,NaN,True,0
23757,1618464,1,70368,NaN,NaN,NaN,NaN,bola,68.47,37.88,0.0,40.40,PAL,6696.0,9955.0,1.0,NaN,True,0
23758,1618487,1,70369,NaN,NaN,NaN,NaN,bola,70.65,38.57,0.0,39.05,PAL,6696.0,9955.0,1.0,NaN,True,0
23759,1618510,1,70370,NaN,NaN,NaN,NaN,bola,69.20,37.29,0.0,35.73,PAL,6696.0,9955.0,1.0,NaN,True,0
23760,1618533,1,70371,NaN,NaN,NaN,NaN,bola,71.91,38.26,0.0,34.55,PAL,6696.0,9955.0,1.0,NaN,True,0

In [168]:
frames = []

for i in range(len(df_bola)):
    if df_bola.iloc[i]["DENTRO_AREA_DIREITA"]:
        frames.append(df_bola.iloc[i]["FRAME"])

print(frames)

[8205, 8207, 8208, 8209, 8210, 8211, 8212, 8213, 8214, 8215, 8216, 8217, 8218, 8219, 8220, 8221, 8222, 8223, 8224, 8225, 8226, 8227, 8228, 8229, 8230, 8231, 8232, 8233, 8234, 8235, 8236, 8237, 8238, 8239, 8240, 8241, 8242, 8243, 8244, 8245, 8246, 8247, 8248, 8249, 8250, 11051, 11052, 11053, 11054, 11055, 11056, 14142, 14143, 14145, 14146, 14147, 14148, 14149, 14150, 14151, 14152, 14153, 14154, 14155, 14156, 14157, 14158, 14159, 14160, 14161, 14162, 14163, 14164, 14165, 14166, 14167, 14168, 14169, 14170, 14171, 14172, 14173, 14174, 14175, 14176, 14177, 14178, 14179, 15322, 15323, 15324, 15325, 15326, 15327, 15328, 15329, 15330, 15331, 15332, 15333, 15334, 15335, 15336, 15337, 15338, 15339, 15340, 15341, 15342, 15343, 15344, 15345, 15346, 15347, 15348, 15349, 15350, 15351, 15352, 15353, 15354, 15355, 15356, 15357, 15358, 15359, 15360, 15361, 15362, 15363, 15364, 15365, 19401, 19404, 19405, 19406, 19494, 19495, 19496, 20371, 20372, 20373, 20374, 20375, 20376, 20377, 20378, 20379, 20380, 20381, 20382, 20383, 20384, 20385, 20386, 20387, 20388, 20389, 20390, 20391, 20392, 20393, 20394, 20395, 20396, 20397, 20398, 20399, 20402, 20404, 20406, 20407, 20409, 20410, 20411, 20414, 20416, 20418, 20420, 20421, 20422, 20423, 20424, 20425, 20426, 20428, 20429, 20431, 20432, 20433, 20434, 20436, 20437, 20438, 20439, 20440, 20441, 20442, 20443, 20444, 20445, 20447, 20448, 20449, 20451, 20452, 20453, 20454, 20455, 20456, 20457, 20458, 20459, 20460, 20461, 20462, 20463, 20464, 20465, 20466, 20467, 20468, 20469, 20470, 20471, 20472, 20473, 20474, 20475, 20476, 20477, 20478, 20479, 20480, 20481, 20482, 20483, 20484, 20485, 20486, 20487, 20488, 20489, 20490, 20491, 20492, 20493, 20494, 20495, 20496, 20497, 20498, 20499, 20500, 20501, 20502, 20503, 20504, 20505, 20506, 20507, 20508, 20509, 20510, 20511, 20512, 20513, 20514, 20515, 20516, 20517, 20518, 20519, 20520, 20521, 20522, 20523, 20524, 20525, 20526, 20527, 20528, 20529, 20530, 20531, 20532, 20533, 20534, 20535, 20536, 20537, 20538, 20539, 20540, 20541, 20542, 20543, 20544, 20545, 20546, 20547, 20548, 20549, 20550, 20551, 20552, 20553, 20554, 20555, 20556, 20557, 20558, 20559, 20560, 20561, 20562, 20563, 20564, 20565, 20566, 20567, 20568, 20569, 20570, 20571, 20572, 20573, 20574, 20575, 20576, 20577, 20578, 20579, 20580, 20581, 20582, 20583, 20584, 20585, 20586, 20587, 20588, 20589, 20590, 20591, 20592, 20593, 20594, 20595, 20596, 20597, 20598, 20599, 20600, 20601, 20602, 20603, 20604, 20605, 20606, 20607, 20608, 20609, 20610, 20611, 20612, 20613, 20614, 20615, 20616, 20617, 20618, 20619, 20620, 20621, 20622, 20623, 20624, 20625, 20626, 20627, 20628, 20629, 20630, 20631, 20632, 20633, 20634, 20635, 20636, 20637, 20638, 20639, 20640, 20641, 20642, 20643, 20644, 20645, 20646, 20647, 20648, 20649, 20650, 20651, 20652, 20653, 20654, 20655, 20656, 20657, 20658, 20659, 20660, 20661, 20662, 20663, 20664, 20665, 20666, 20667, 20668, 20669, 20670, 20671, 20672, 20673, 20674, 20675, 20676, 20677, 20678, 20679, 20680, 20681, 20682, 20683, 20684, 20685, 20686, 20687, 20688, 20689, 20690, 20691, 20692, 20693, 20694, 20695, 20696, 20697, 20698, 20699, 20700, 20701, 20702, 20703, 20704, 20705, 20706, 20707, 20708, 20709, 20710, 20711, 20712, 20713, 20714, 20715, 20716, 20717, 20718, 20719, 20720, 20721, 20722, 20723, 20724, 20725, 20726, 20727, 20728, 20729, 20730, 20731, 20732, 20733, 20734, 20735, 20736, 20737, 20738, 20739, 20740, 20741, 20742, 20743, 20744, 20745, 20746, 20747, 20748, 20749, 20750, 20751, 20752, 20753, 20754, 20755, 20756, 20757, 20758, 20759, 20760, 20761, 20762, 20763, 20764, 20765, 20766, 20767, 20768, 20769, 20770, 20771, 20772, 20773, 20774, 20775, 20776, 20777, 20778, 20779, 20780, 20781, 20782, 20783, 20784, 20785, 20786, 20787, 20788, 20789, 20790, 20791, 20792, 20793, 20794, 20795, 20796, 20797, 20798, 20799, 20800, 20801, 20802, 20803, 20804, 20805, 20806, 20807, 20808, 20809, 20810, 20811, 20812, 20813, 20814, 20815, 20816, 20817, 20818, 20819, 20820, 20821, 20822, 20823, 20824, 20825, 20826, 20827, 20828, 20829, 20830, 20831, 20832, 20833, 20834, 20835, 20836, 20837, 20838, 20839, 20840, 20841, 20842, 20843, 20844, 20845, 20846, 20847, 20848, 20849, 20850, 20851, 20852, 20853, 20854, 20855, 20856, 20857, 20858, 20859, 20860, 20861, 20862, 20863, 20864, 20865, 20866, 20867, 20868, 20869, 20870, 20871, 20872, 20873, 20874, 20875, 20876, 20877, 20878, 20879, 20880, 20881, 20882, 22578, 22579, 22580, 22581, 22582, 22583, 22584, 22585, 22586, 22587, 22588, 22589, 22590, 22591, 22592, 22593, 22594, 22595, 22596, 22597, 22598, 22599, 22600, 22601, 22602, 22614, 22616, 22617, 22618, 22619, 22620, 22621, 22622, 22623, 22624, 22625, 22626, 22627, 22628, 22629, 22630, 22631, 22632, 22633, 22634, 22635, 22636, 22637, 22638, 22639, 22640, 22641, 22642, 22643, 22644, 22645, 22646, 22647, 22648, 22649, 22650, 22651, 22652, 22653, 22654, 22655, 22656, 22657, 22658, 22659, 22660, 22661, 22662, 22663, 22664, 22665, 22666, 22667, 23890, 23891, 23892, 23893, 23894, 23895, 23896, 23897, 23898, 23899, 23900, 23901, 23902, 23903, 27623, 27626, 27627, 27629, 27630, 27631, 27632, 27633, 27634, 27635, 27636, 27637, 27638, 27639, 27640, 27641, 27642, 27643, 27644, 29768, 39863, 39865, 39866, 39867, 39868, 39869, 39870, 39871, 39872, 39873, 39874, 39875, 39876, 40658, 40659, 40660, 40661, 40662, 40663, 40664, 40665, 40666, 40667, 40668, 40669, 40670, 40671, 40672, 40673, 40674, 40675, 40676, 40677, 40678, 40679, 40680, 40681, 40682, 40683, 40684, 40685, 40686, 40687, 40688, 40689, 40690, 40691, 40692, 40693, 40694, 40695, 40696, 40697, 40698, 40699, 40700, 40701, 40702, 40703, 40704, 40705, 40706, 40707, 40708, 40709, 40710, 40711, 40712, 40713, 40714, 40715, 40716, 40717, 40718, 40719, 40720, 40721, 40722, 40723, 41270, 41271, 41272, 41273, 41274, 41275, 41276, 41277, 41278, 41279, 41280, 41281, 41282, 45772, 45773, 45774, 45775, 45776, 45777, 45778, 45779, 45780, 48340, 48341, 48342, 48344, 48345, 48346, 48347, 48348, 48349, 48350, 48351, 48352, 48353, 48354, 48355, 48356, 48357, 48358, 48465, 48466, 48467, 48468, 48469, 48470, 48471, 48472, 48473, 48474, 48475, 48476, 48477, 49327, 49328, 49329, 49330, 49331, 49332, 49333, 49334, 49335, 49336, 49337, 49338, 49339, 50310, 50311, 50312, 50313, 50314, 51391, 51396, 51397, 51398, 51399, 51400, 51401, 52101, 52102, 52103, 52104, 52105, 52106, 52107, 52114, 52116, 52118, 52119, 52120, 52123, 52125, 52126, 52128, 52129, 52130, 52131, 52132, 52133, 52134, 52135, 52136, 64332, 64334, 64338, 64339, 64340, 64341, 64342, 64343, 64344, 64345, 64347, 64348, 64349, 64350, 64352, 64353, 64355, 64357, 64359, 64360, 64363, 64364, 64365, 64366, 64367, 64370, 64371, 64374, 64375, 64378, 64379]

In [169]:
count = 0
frames_dentro_area_direita = []
for i in range(len(frames)-1):
    if not (frames[i+1] - frames[i]) > 50 :
        count += 1
    else:
        frames_dentro_area_direita.append(frames[i-count])
        count = 0
    
print(len(frames_dentro_area_direita))
print((frames_dentro_area_direita))

21
[8205, 11051, 14142, 15322, 19401, 19494, 20371, 22578, 23890, 27623, 29768, 39863, 40658, 41270, 45772, 48340, 48465, 49327, 50310, 51391, 52101]

In [170]:
df = pd.read_csv("dados/DadosBrutos_Palmeiras_x_Bragantino.csv")
df.head(20)
filtro_bola = df["OBJETO_OBSERVADO"] == "bola"
df_bola = df[filtro_bola]
df_bola

,TEMPO_JOGO,FRAME,ID_JOGADOR,NOME_JOGADOR,POSICAO_JOGADOR,TIME_JOGADOR,OBJETO_OBSERVADO,X,Y,Z,VELOCIDADE,TIME_POSSE,ID_TIME_POSSE_BOLA,ID_JOGADOR_ATACANDO,BOLA_EM_JOGO,ACELERACAO,VISIVEL
0,1,0,NaN,NaN,NaN,NaN,bola,59.12,38.29,0.0,41.19,PAL,6696.0,9973.0,1.0,NaN,True
23,1,1,NaN,NaN,NaN,NaN,bola,59.31,39.28,0.0,41.68,PAL,6696.0,9973.0,1.0,NaN,True
46,1,2,NaN,NaN,NaN,NaN,bola,57.81,39.13,0.0,40.98,PAL,6696.0,9973.0,1.0,NaN,True
69,1,3,NaN,NaN,NaN,NaN,bola,57.02,39.45,0.0,40.77,PAL,6696.0,9973.0,1.0,NaN,True
92,1,4,NaN,NaN,NaN,NaN,bola,57.91,40.94,0.0,41.77,PAL,6696.0,9973.0,1.0,NaN,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3373571,2,76213,NaN,NaN,NaN,NaN,bola,67.96,36.98,0.0,0.00,PAL,6696.0,9976.0,1.0,NaN,False
3373594,2,76214,NaN,NaN,NaN,NaN,bola,66.96,36.44,0.0,0.00,PAL,6696.0,9976.0,1.0,NaN,False
3373617,2,76215,NaN,NaN,NaN,NaN,bola,66.95,36.43,0.0,0.00,PAL,6696.0,9976.0,1.0,NaN,False
3373640,2,76216,NaN,NaN,NaN,NaN,bola,66.53,36.20,0.0,0.00,PAL,6696.0,9976.0,1.0,NaN,False
3373663,2,76217,NaN,NaN,NaN,NaN,bola,66.85,36.37,0.0,0.00,PAL,6696.0,9976.0,1.0,NaN,False

In [181]:
# df_bola = df_bola.set_index("FRAME")

In [182]:
frames_validos = []

for frame in frames_dentro_area_direita:
    if df_bola.iloc[(frame-50)]["X"] > 90:
        frames_validos.append(frame)
    
print(frames_validos)
print(len(frames_validos))

[8205, 11051, 15322, 19401, 19494, 20371, 22578, 23890, 27623, 29768, 39863, 40658, 41270, 45772, 48340, 49327, 50310, 52101]
18